* {
	margin: 0px; 
	padding: 0px; 
}
h1, h2, h3, h4, h5, p, button, a, ul , ol {
	font-family: sans-serif;
}
button {
	width: 220px;
	color: white;
	border-radius: 8px; 
	padding: 10px;
	font-size: 18px;
	box-shadow: 3px 3px 3px rgb(142,142,142);
	border: none;
}
.blue {
	color: rgb(38,102,156);
}
#red {
	color: red;
}
.bold {
	font-weight: bold;
}
.italics {
	font-style: italic;
}
#wrapper {
	margin: 0px auto;
	width: 970px;
}
#header {
	width: 100%;
	height: 155px;
}
#header img {
	width: 100px;
	position: absolute;
}
#header h1 {
	display: inline-block;
	font-size: 40px;
	color: rgb(71,71,71);
	margin-left: 100px;
	margin-bottom: 3px;
}
#header h2 {
	background: linear-gradient(to bottom, rgb(43,105,157), rgb(83,132,171), rgb(43,105,157));
	padding: 20px;
	font-size: 36px;
	color: white;
}
#page {
	width: 100%;
	height: 500px;
	background: linear-gradient(to bottom, #e4e4e4 0%,#ffffff 20%);
}
#side {
	width: 230px;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
/*	border: 1px solid red;*/
}
#link_box {
	padding: 10px 8px 20px 8px;
	border-bottom: 3px groove; 
}
#link_box h3 {
	margin-top: 20px; 
	font-weight: bold;
}
#link_box p {
	margin: 20px 0px; 
	font-weight: bold;
}
.a {
	background: linear-gradient(to bottom, rgb(100,154,193), rgb(40,103,157));
}
.b {
	margin-top: 5px;
	background: linear-gradient(to bottom, rgb(234,170,89), rgb(238,117,4));
}
#ad_box {
	background-image: url("file:///Users/mikeno/Desktop/Coding%20Dojo/CSS/Internet/images/ad_background.png");
	margin-top: 20px;
	padding: 10px;
	padding-bottom: 20px;
	text-align: center;
}
#ad_box p {
	color: white;
	font-size: 24px;
	padding-top: 10px;
}
#ad_box img {
	width: 100px;
	padding: 10px;
}
.c {
	width: 190px;
	font-size: 18px;
	padding: 8px;
	background: linear-gradient(to bottom, rgb(106,206,221), rgb(19,195,222));
	box-shadow: 3px 3px 3px rgb(40,40,40);
	margin: 10px;
}
#main {
	width: 710px;
	display: inline-block;
	vertical-align: top;
}
#home {
	height: 20px;
	width: 100px;
	padding: 15px;
	display: inline-block;
	vertical-align: top;
}
#home img {
	height: 18px;
	width: 18px;
}
#home a {
	text-decoration: none;
	color: rgb(38,102,156);
	font-size: 18px;

}
#phone {
	height: 90px;
	width: 570px;
	display: inline-block;
	text-align: right;
}
#phone img {
	height: 70%;
	padding-top: 5px;
	display: inline-block;
	vertical-align: bottom;
	height: 70px;

}
#phone_info {
	width: 220px; 
	display: inline-block;
	padding-top: 2px;
	padding-bottom: 10px;
}
#phone_info h4 {
	font-size: 32px;
	color: rgb(0,190,220);
}
#phone_info p {
	font-size: 12px;
	color: rgb(67,67,67);
}
#content {
	border-top: 3px groove; 
	padding: 5px 10px;
}
#content h5 {
	font-size: 20px; 
	color: rgb(38,102,156);
	margin-top: 5px
}
#content p {
	font-size: 16px; 
	margin-top: 10px;
	margin-bottom: 10px;
}
#content ol, ul {
	padding-left: 40px;
}
#content li {
	margin-top: 10px;
	margin-bottom: 10px;
}
#content a {
	color: rgb(2,151,173);
	text-decoration: none;
}
#content img {
	width: 300px;
	margin: 10px 0px 10px 215px;
}
#big_3box {
	border: 5px solid rgb(4,135,221);
	box-shadow: 2px 2px 2px rgb(142,142,142);
	padding: 5px;
}
#big_3box img {
	width: 110px;
	display: inline-block;
	margin: 0px;
}
#big_3 {
	width: 540px;
	margin-left: 10px;
	display: inline-block;
}
