* {
	margin: 0px; 
	padding: 0px; 
}
p, a {
	font-family: Helvetica;
}
#wrapper {
	width: 935px;
	margin: 0px auto;
}
.header {
	background-color: rgb(245,245,245);
	width: 100%;
	padding: 20px; 
}
.header h1 {
	font-family: "Comic Sans MS";
	display: inline;
}
.header h2 {
	font-family: Arial;
	font-size: 24px;
	margin-left: 38%; 
	display: inline;
}
#main {
	background: radial-gradient(rgb(100,79,89), rgb(65, 48, 55));
	background: -o-radial-gradient(rgb(100,79,89), rgb(65, 48, 55));
	background: -moz-radial-gradient(rgb(100,79,89), rgb(65, 48, 55));
	background: -webkit-radial-gradient(rgb(100,79,89), rgb(65, 48, 55));
	width: 100%;
	padding: 20px;
}
#picture {
	width: 400px;
	display: inline-block;
	vertical-align: top;
	margin: 10px;
}
#picture img {
	border: 5px solid rgb(184,184,184);
	width: 100%;
}
h3, h4{
	background: linear-gradient(rgb(164,164,168), rgb(115,115,132),rgb(164,164,168));
	background: -o-linear-gradient(rgb(164,164,168), rgb(115,115,132),rgb(164,164,168));
	background: -moz-linear-gradient(rgb(164,164,168), rgb(115,115,132),rgb(164,164,168));
	background: -webkit-linear-gradient(rgb(164,164,168), rgb(115,115,132),rgb(164,164,168));
	color: white;
	font-family: Arial; 
	padding: 10px;
}
h4 {
	font-size: 16px; 
}
.text_block1 {
	background: linear-gradient(to left, rgb(219,204,218), rgb(254,254,254));
	background: -o-linear-gradient(left, rgb(219,204,218), rgb(254,254,254));
	background: -moz-linear-gradient(left, rgb(219,204,218), rgb(254,254,254));
	background: -webkit-linear-gradient(right, rgb(219,204,218), rgb(254,254,254));
	padding: 10px;
}
#about {
	width: 51%;
	display: inline-block;
	margin: 10px 15px; 
}
#about p {
	padding: 5px; 
	margin-bottom: 5px;

}
#about a {
	color: black;
	padding-left: 5px;
}
.blocks {
	display: inline-block;
	margin: 10px;
	width: 30.9%;
	vertical-align: top;
	background: linear-gradient(to left, rgb(219,204,218), rgb(254,254,254));
	background: -o-linear-gradient(left, rgb(219,204,218), rgb(254,254,254));
	background: -moz-linear-gradient(left, rgb(219,204,218), rgb(254,254,254));
	background: -webkit-linear-gradient(right, rgb(219,204,218), rgb(254,254,254));
}
.blocks img {
	width: 100%; 
}
.blocks p {
	font-size: 14px;
	text-align: justify;
	padding: 10px;
	height: 150px;
}
.text_block2 {
	padding: 10px;
	height: 150px;
}
.text_block2 img {
	width: 17%;
	display: inline-block;
	padding: 2px;
}
.text_block2 button {
	background-color: rgb(64,125,97);
	border: 1px solid black;
	border-radius: 10px; 
	color: white;
	font-family: Arial;
	font-size: 16px;
	padding: 5px;
	box-shadow: 4px 4px 10px #888888;
	display: block;
	margin:0 auto;
	margin-top: 5px;
}
.footer {
	background-color: rgb(245,245,245);
	width: 100%;
	padding: 10px; 
	text-align: center;
}
.footer img {
	width: 18px;
	margin-top: 10px;
}
.footer a {
	font-style: italic;
	padding: 2px;
}
